.label {
  font-weight: 700;
  color: var(--text-default);
  font-size: 0.7rem;
  margin-block-end: 0.2rem;
  display: inline-block;
}

.input {
  background: var(--background-base);
  border: 1px solid var(--border-base);
  border-radius: 5px;
  width: 100%;
  height: 2.2rem;
  padding: 0.5rem;
  font-family: inherit;
}

.error {
  font-size: 0.8rem;
  color: var(--text-error);
}