.left {
  background: linear-gradient(146.71deg, #510BC4 0%, #90088A 50.64%, #C8074E 99.21%);
  flex: 1;
  padding: 2rem;
}

.quote {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-inverted);
  padding: 2rem;
}

.quoteText {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.author {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.right {
  flex: 1;
  padding: 2rem;
}

.field {
  margin-bottom: 1rem;
}

.dialogHeader {
  color: var(--text-default);
  margin-bottom: 1rem;
  font-weight: 900;
}