.button {
  font-weight: 900;
  border: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-family: inherit;
}

.button.primary {
  background: linear-gradient(95.56deg, #C8074E 0%, #90088A 50.52%, #510BC4 100%);
  color: var(--text-inverted);
}

.button.secondary {
  background: none;
  border: 1px solid var(--border-base);
  color: var(--text-base);
}

.button.secondary-inverted {
  background: none;
  border: 1px solid var(--text-inverted);
  color: var(--text-inverted)
}

.button.large {
  border-radius: 6px;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
}

.button.medium {
  border-radius: 5px;
  padding: 0.5rem 1.8rem;
  font-size: 1rem;
}

.button.small {
  border-radius: 4px;
  padding: 0.3rem 1.4rem;
  font-size: 0.8rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: left 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 2;
  }

  .button:hover:after {
    left: 120%;
    transition: left 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .button.secondary:after {
    display: none;
  }
}