.button {
  font-weight: 900;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  border: none;
  cursor: pointer;
  block-size: 3rem;
  padding-inline: 0.3rem;
  transition: background-color 200ms ease-in;
}

.image {
  display: inline-block;
  margin-inline-end: 0.4rem;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--background-hover);
  }
}