@import url("/icomoon/style.css");

:root {
  --text-base: #333333;
  --text-inverted: #ffffff;

  --foreground-rgb: 255, 255, 255;
  --background-base: #ffffff;
  --background-start: #380656;
  --background-middle: #140030;
  --background-end: #30054B;

  --border-base: #cccccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body.project-list {
  background: var(--background-base);
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
