.main {
  display: grid;
  grid-template-columns: [left-column-collapsed] 2rem [left-column] 13rem [main] minmax(0, 1fr) [right-column-collapsed] 2rem [end];
  grid-template-rows: [header] 3rem [main] auto [sub-footer] 3rem [footer] 8rem [end];
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: var(--text-default);
}

.header {
  grid-column-start: left-column-collapsed;
  grid-column-end: end;
  grid-row-start: header;
  grid-row-end: header;
}

.elements {
  grid-column-start: left-column-collapsed;
  grid-column-end: main;
  grid-row-start: main;
  grid-row-end: main;
  border-right: 1px solid var(--border-base);
}

.player {
  grid-column-start: main;
  grid-column-end: end;
  grid-row-start: main;
  grid-row-end: main;
}

.controls {
  grid-column-start: left-column-collapsed;
  grid-column-end: main;
  grid-row-start: sub-footer;
  grid-row-end: sub-footer;
  border: 1px solid var(--border-base);
  border-width: 1px 1px 0 0;
  background-color: var(--background-base);
  z-index: 2;
}

.timeline {
  grid-column-start: main;
  grid-column-end: end;
  grid-row-start: sub-footer;
  grid-row-end: sub-footer;
  z-index: 1;
  border-top: 1px solid var(--border-base);
}

.animations {
  grid-column-start: left-column-collapsed;
  grid-column-end: end;
  grid-row-start: footer;
  grid-row-end: end;
  border-top: 1px solid var(--border-base);
}
