.keyframes,
.keyframesEl {
  height: 1.5rem;
  border-bottom: 1px solid var(--border-base);
  font-size: 0.8rem;
  font-weight: 200;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}

.keyframesEl {
  background-color: var(--background-highlight);
}

.keyframesEl.selected {
  background-color: var(--highlight-2);
  color: var(--text-inverted);
}
