.animationArea {
  height: 12rem;
  display: grid;
  overflow: hidden;
  grid-template-columns: [left] 15rem [right] minmax(0, 1fr) [end];
}

.elements {
  grid-column-start: left;
  grid-column-end: right;
  background-color: var(--background-base);
  position: relative;
  z-index: 2;
}

.elementsScrollable {
  position: relative;
}

.animations {
  grid-column-start: right;
  grid-column-end: end;
}

.animationsScrollable {
  overflow: auto;
  max-width: 100%;
  height: 8rem;
}

.animationsInner {
  position: relative;
}

.durationMark {
  position: absolute;
  width: 1px;
  height: 0;
  background-color: var(--highlight-4);
  top: 0;
  z-index: 1;
}

.keyframes,
.keyframesEl {
  height: 1.5rem;
  border-bottom: 1px solid var(--border-base);
  font-size: 0.8rem;
  font-weight: 200;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}

.keyframesEl {
  background-color: var(--background-highlight);
}

.keyframesEl.selected {
  background-color: var(--highlight-2);
  color: var(--text-inverted);
}

.keyframe {
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--highlight-3);
  transform: rotate(45deg);
  margin-left: -0.3rem;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.keyframeLine {
  position: absolute;
  height: 2px;
  background-color: var(--highlight-3);
  pointer-events: none;
}
