.title {
  display: flex;
  align-items: center;
  padding-inline: 2rem 0.5rem;
  padding-block: 0.2rem;
  gap: 0.6rem;
  border: 2px solid transparent;
  position: relative;
}

.title.selected {
  border-color: var(--highlight-2);
}

.titleIn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  flex: 1;
  block-size: 1.5rem;
}

.titleIn.level0 {
  margin-left: 0;
}

.titleIn.level1 {
  margin-left: 1rem;
}

.titleIn.level2 {
  margin-left: 2rem;
}

.titleIn.level3 {
  margin-left: 3rem;
}

.titleIn.level4 {
  margin-left: 4rem;
}

.titleIn.level5 {
  margin-left: 5rem;
}

.titleIn.level6 {
  margin-left: 6rem;
}

.shapeIcon {
  color: var(--text-secondary)
}

.titleText {
  flex: 1 1 auto;
}

.collapseButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  width: 1rem;
  font-size: 1rem;
  position: absolute;
  left: -1.8rem;
}
