.elements {
  overflow: auto;
}

.title {
  font-size: 0.8rem;
  padding: 1rem;
}

.treeNode {
  font-size: 0.8rem;
  font-weight: 200;
}

.nodeTitle {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.5rem 0.4rem 2rem;
  gap: 0.6rem;
  border: 2px solid transparent;
}

.nodeTitleIn {
  position: relative;
}

.nodeTitleIn.level0 {
  margin-left: 0;
}

.nodeTitleIn.level1 {
  margin-left: 1rem;
}

.nodeTitleIn.level2 {
  margin-left: 2rem;
}

.nodeTitleIn.level3 {
  margin-left: 3rem;
}

.nodeTitleIn.level4 {
  margin-left: 4rem;
}

.nodeTitleIn.level5 {
  margin-left: 5rem;
}

.nodeTitleIn.level6 {
  margin-left: 6rem;
}

.collapseButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  width: 1rem;
  font-size: 1rem;
  position: absolute;
  left: -1.4rem;
}

@media (hover: hover) and (pointer: fine) {
  .nodeTitle:hover {
    border-color: var(--highlight-2);
  }
}