.iconButton {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  border-radius: 50%;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.iconButton[aria-disabled=true] {
  opacity: 0.4;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .iconButton:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .iconButton[aria-disabled=true]:hover {
    background: none;
  }
}