.header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-base);
  height: 3rem;
  overflow: hidden;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.heading {
  font-size: 0.8rem;
  font-weight: 200;
}