.pointer {
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--highlight-1);
  cursor: pointer;
}

.pointer::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-width: 0.5rem;
  border-style: solid;
  border-color: var(--highlight-1) transparent transparent;
  top: 1rem;
}

.pointer::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 12rem;
  background-color: var(--highlight-1);
  top: 0.5rem;
  left: calc(0.5rem - 1px);
}
