.player {
  background-color: var(--background-secondary);
  padding: 1rem;
  overflow: auto;
  display: flex;
  align-items: center;
}

.player svg {
  flex-shrink: 0;
  background-color: white;
  margin: 0 auto;
}