.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;
  padding-block: 2rem;
  min-height: 100vh;
  position: relative;
  color: var(--text-inverted);
  background: linear-gradient(159.66deg, 
    var(--background-start) 4.94%, 
    var(--background-middle) 31.11%, 
    var(--background-middle) 55.33%, 
    var(--background-end) 82.96%);

  @media (max-width: 768px) {
    padding-inline: 3rem;
  }
}

.main::before {
  content: "";
  position: absolute;
  width: 70%;
  aspect-ratio: 1 / 1;
  max-height: 100vh;
  top: 0;
  right: 0;
  background-image: url(/background-image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  gap: 2rem;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }
}

.logo {
  flex: 1 1 auto;
  display: flex;
}

.description {
  display: flex;
  width: 100%;
  z-index: 2;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding-block: 2rem;
}

.descriptionContent {
  max-width: 35rem;
}

.description h1 {
  margin-block-end: 2rem;
  font-size: 2.5rem;
  font-weight: 900;
}

.description p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 100;
  margin-block-end: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}
