.content {
  inline-size: 100%;
  padding-inline: 2rem;
  padding-block: 2rem;
}

.heading {
  color: var(--text-default);
  margin-block-end: 1rem;
  padding-block: 0;
  font-weight: 900;
  font-size: 1.4rem;
}

.footer {
  padding-block-start: 2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
